<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>ddmo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
 </head>

  <body>
  <script>
      (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'Messenger'));

    const APP_ID = 265962291109642;    
    var senderID = "";
    
    window.extAsyncInit = function() {
        MessengerExtensions.getContext(APP_ID, 
          function success(thread_context){
           senderID = thread_context.psid;
          },
          function error(err){
            console.log(err);
          }
        );        
    };

    // function register() {
    //   fetch('api post/ ....', { senderID: senderID })
    // }
  </script>
  
	<h1><%= title %></h1>

  <form id="form" method="post" action="/register_books">
  <!-- <div class="form-group">
    <label for="name">Image</label>
    <input type="text" class="form-control" id="image" name="image" placeholder="Enter image url">    
  </div> -->
  
  <div class="form-group">
    <label for="bookname">Book Name</label>
    <input type="text" class="form-control" id="bookname" name="bookname" placeholder="bookname">
  </div> 
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" name="author" placeholder="author">
  </div> 
  <div class="form-group">
    <label for="bookshopname">bookshopname</label>
  <input type="text" class="form-control" id="bookshopname" name="bookshopname" placeholder="bookshopname">  
  </div>   
   <div class="form-group">
    <label for="bookshopnameaddress">bookshopnameaddress</label>
  <input type="text" class="form-control" id="bookshopnameaddress" name="bookshopnameaddress" placeholder="bookshopnameaddress">  
  </div> 
  <div class="form-group">
    <label for="bookshopphno">bookshopphno</label>
  <input type="text" class="form-control" id="bookshopphno" name="bookshopphno" placeholder="bookshopphno">  
  </div>   
   <div class="form-group">
    <label for="stock">stock</label>
  <input type="text" class="form-control" id="stock" name="stock" placeholder="stock">  
  </div> 

  <div>
<input type="checkbox" id="horror" name="horror" value="horror">
<label for="horror"> Horror</label><br>

<input type="romance" id="romance" name="romance" value="romance">
<label for="romance"> Romance</label><br>

<input type="checkbox" id="thrill" name="thrill" value="thrill">
<label for="thrill">Thrill</label><br>

<input type="checkbox" id="science" name="science" value="science">
<label for="science">Science</label><br>

<input type="checkbox" id="biography" name="biography" value="biography">
<label for="biography">Biography</label><br>

<input type="checkbox" id="politicial" name="politicial" value="politicial">
<label for="politicial">Political</label><br>
  </div>
    <input type="hidden"  id="sender" name="sender" value="<%= sender_id %>">
  <input type="submit" value="Submit"> 
  </form>

   <script>
     var horror = document.getElementById("horror").checked;
     var romance = document.getElementById("romance").checked;
     var thrill = document.getElementById("thrill").checked;
     var science = document.getElementById("science").checked;
     var biography = document.getElementById("biography").checked;
     var politicial = document.getElementById("politicial").checked;
   </script>
	
  <script>
      
   
      const windowShut = () => {
        MessengerExtensions.requestCloseBrowser(function success() {
          console.log(" Wnindeow Shut success"); 
            window.location.assign("www.google.com");
        }, function error(err) {
          console.log(err);
        });
      }

      
      document.getElementById("form").addEventListener("submit", window.location.assign(('https://www.messenger.com/closeWindow/?image_url=https://secure.i.telegraph.co.uk/multimedia/archive/03058/thankyou-interest_3058089c.jpg&display_text=Thanks'));



     

  </script>

  </body>

</html>